@import "../../../styles/variables.scss"; // Variables SCSS globales

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: var(--background-color);
  border-bottom: 1px solid var(--border-color);
  position: relative;
  height: 60px;

  /* Conteneur pour le logo */
  .logoContainer {
    margin: 0 auto; /* Centrer grâce au flex parent */
    position: static;
    display: flex;
    align-items: center;

    .logo {
      width: 60px;
      height: auto;
    }

    @media (max-width: 768px) {
      justify-content: center;
      .logo {
        width: 50px;
        height: auto;
      }
  
    }
  }

  /* Bouton Menu Burger */
  .menuButton {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: var(--text-color);
    transition: color 0.2s ease;
    padding: 0.5rem;
    margin-right: 1rem; /* Ajouter du padding à droite */

    &:hover {
      color: var(--primary-hover);
    }

    @media (max-width: 768px) {
      margin-right: 0.75rem;
    }
  }

  /* Responsivité */
  @media (max-width: 768px) {
    .sidebarToggle {
      left: 1rem;
    }

    .logoContainer {
      margin: 0 auto;
    }
  }
}
