// src/components/chat/ChatContainer/ChatContainer.scss
@import '../../../styles/variables';
@import '../../../styles/mixins';

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $background-color;
  border-radius: $radius-lg; 
  overflow: hidden;
  box-shadow: $shadow-lg;
  border: 1px solid darken($background-color, 5%);
  border-bottom: none;
  padding: $sp-md;
  margin-top: $sp-xs; // Corrigé pour utiliser $ au lieu de sp

  .chat-error {
    padding: $sp-md;
    color: $danger-color;
    text-align: center;
    margin: auto;
  }
}
