@import '../../../styles/variables';
@import '../../../styles/mixins';

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: $background-color;
  border-radius: $radius-lg $radius-lg 0 0; 
  overflow: hidden;
  box-shadow: $shadow-lg;
  border: 1px solid darken($background-color, 5%);
  border-bottom: none;
  margin-top: 0; // Ajouté pour éliminer l'espace

  .chat-error {
    padding: $sp-md;
    color: $danger-color;
    text-align: center;
    margin: auto;
  }
}
