@import '../../../styles/variables';
@import '../../../styles/mixins';

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $sp-md;

  button {
    margin-top: $sp-md;
  }

  .form-title {
    font-size: clamp(1.5rem, 3vw, 2rem);
    font-weight: bold;
    color: $primary-color;
    text-align: center;
    margin-bottom: $sp-sm;
  }
  
  .form-logo {
    width: clamp(70px, 10vw, 120px);
    height: auto;
    margin-bottom: $sp-md;
    display: block;
  }
}
