@import '../../../styles/variables.scss';
@import '../../../styles/mixins';

.card {
  background-color: $message-bg-bot;
  border: 1px solid $border-color;
  border-radius: $radius-md;
  @include shadow(sm);
  overflow: hidden;
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  &--hover {
    cursor: pointer;

    &:hover {
      transform: translateY(-2px);
      @include shadow(md);
    }
  }

  &__header {
    display: flex;
    align-items: center;
    gap: $sp-md;
    padding: $sp-md;
    border-bottom: 1px solid $border-color;
    background-color: $background-btn-grey;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    font-size: $fs-lg;
    color: $primary-color;
    @include shadow(sm);
  }

  &__titles {
    flex: 1;
    min-width: 0; // Fix overflow issue
  }

  &__title {
    font-size: $fs-lg;
    font-weight: 600;
    color: $color-text-primary;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__subtitle {
    font-size: $fs-sm;
    color: $color-text-secondary;
    margin: $sp-xs 0 0;
  }

  &__content {
    padding: $sp-md;
    font-size: $fs-md;
    color: $color-text-primary;
    background-color: $background-color;
  }

  &__footer {
    padding: $sp-md;
    border-top: 1px solid $border-color;
    background-color: $background-btn;
    text-align: center;

    button {
      margin-top: $sp-sm;
    }
  }
}
