@import '../../../styles/variables';
@import '../../../styles/mixins';

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: $sidebar-width; // Largeur par défaut
  background-color: $color-bg-dark;
  box-shadow: $shadow-md;
  color: $color-text-light;
  display: flex;
  flex-direction: column;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1500;

  &.open {
    transform: translateX(0); // Affichage de la Sidebar
  }

  /* Zone de contenu commencée sous le bouton */
  .content {
    margin-top: 4rem; // Contenu sous le bouton
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    padding: $sp-md;
  }

  .section {
    margin-bottom: $sp-md;

    .section-header { 
      display: flex;
      align-items: center;
      font-size: $fs-lg;
      font-weight: 600;
      margin-bottom: $sp-sm;
    }

    .add-btn {
      @include button($primary-color, $color-text-light, $primary-hover);
      margin-top: $sp-xs;
    }

    .section-list {
      list-style: none;
      padding: 0;

      .list-item {
        cursor: pointer;
        padding: $sp-sm;
        border-radius: $radius-sm;
        &:hover {
          background: $primary-hover;
        }
      }
    }
  }

  .logout-btn {
    margin-top: auto;
    @include button($danger-color, $color-light, darken($danger-color, 10%));
  }

  /* --- Responsivité pour les mobiles --- */
  @media (max-width: $tablet) {
    width: 100vw; // Sidebar s'étend sur toute la largeur de l'écran
    height: 100vh; // Pleine hauteur
    padding: $sp-xs;

    .content {
      margin-top: 4rem; // Ajustement pour une marge plus petite
      padding: $sp-xs;
    }

    .section-header {
      font-size: $fs-md; // Réduction des tailles de texte
    }

    .add-btn {
      padding: $sp-xs $sp-sm; // Boutons plus compacts
      font-size: $fs-sm; 
    }

    .section-list {
      .list-item {
        padding: $sp-xs; // Espacement plus réduit pour les éléments
        font-size: $fs-sm; // Texte plus compact
      }
    }

    .logout-btn {
      font-size: $fs-sm; // Bouton de déconnexion réduit
      padding: $sp-xs $sp-sm;
    }
  }
}
